__pycache__/
*.py[cod]
*$py.class

*.so
*.pyd
*.dll
*.dylib
*.o
*.a

build/
dist/
.eggs/
*.egg-info/

.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

.ipynb_checkpoints/

.venv/
venv/
.env
.DS_Store
.vscode/
.idea/

.nfs*
